In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("C:/Users/vijaya/Desktop/AIS_2017_01_Zone10.csv")

In [13]:
display(df[0:5])

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo
0,367114690,2017-01-01T00:00:06,48.51094,-122.60705,0.0,-49.6,511.0,NaN,NaN,NaN,NaN,under way using engine,NaN,NaN,NaN,NaN
1,367479990,2017-01-01T00:00:03,48.15891,-122.67268,0.1,10.1,353.0,WSF KENNEWICK,IMO9618331,WDF6991,1012.0,moored,83.39,19.5,3.2,NaN
2,368319000,2017-01-01T00:00:08,43.34576,-124.32142,0.0,32.8,173.0,NaN,NaN,NaN,NaN,engaged in fishing,NaN,NaN,NaN,NaN
3,367154100,2017-01-01T00:00:15,46.74264,-124.93125,6.8,6.0,352.0,NaN,NaN,NaN,NaN,undefined,NaN,NaN,NaN,NaN
4,367446870,2017-01-01T00:00:59,48.51320,-122.60718,0.0,23.2,511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Remove non-numerics
df = df.select_dtypes(include=['int', 'float'])

headers = list(df.columns.values)
fields = []

for field in headers:
    fields.append({
        'name' : field,
        'mean': df[field].mean(),
        'var': df[field].var(),
        'sdev': df[field].std()
    })

for field in fields:
    print(field)

{'name': 'LAT', 'mean': 45.996787371961105, 'var': 16.949781684352285, 'sdev': 4.117011256281951}
{'name': 'LON', 'mean': -122.90887905756831, 'var': 0.5839650847920153, 'sdev': 0.7641760823213556}
{'name': 'SOG', 'mean': 2.13385685744575, 'var': 21.852135256628053, 'sdev': 4.674626750514746}
{'name': 'COG', 'mean': -16.807174310692158, 'var': 14058.232675735251, 'sdev': 118.56741827220179}
{'name': 'Heading', 'mean': 364.15738422375773, 'var': 31379.734335426125, 'sdev': 177.1432593564489}
{'name': 'VesselType', 'mean': 953.6720638761343, 'var': 55421.506109483635, 'sdev': 235.41772683781406}
{'name': 'Length', 'mean': 63.84145756002956, 'var': 6245.482878241969, 'sdev': 79.02836755394843}
{'name': 'Width', 'mean': 13.887303600771315, 'var': 119.97493069379182, 'sdev': 10.9533068382928}
{'name': 'Draft', 'mean': 6.227463260212502, 'var': 20.61667164695971, 'sdev': 4.54055851707251}
{'name': 'Cargo', 'mean': 48.72198483234392, 'var': 512.8267260026648, 'sdev': 22.645677865823863}

In [15]:
df2 = pd.DataFrame(fields)
display(df2)

         name        mean           var        sdev
0         LAT   45.996787     16.949782    4.117011
1         LON -122.908879      0.583965    0.764176
2         SOG    2.133857     21.852135    4.674627
3         COG  -16.807174  14058.232676  118.567418
4     Heading  364.157384  31379.734335  177.143259
5  VesselType  953.672064  55421.506109  235.417727
6      Length   63.841458   6245.482878   79.028368
7       Width   13.887304    119.974931   10.953307
8       Draft    6.227463     20.616672    4.540559
9       Cargo   48.721985    512.826726   22.645678

In [ ]:

import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap
import pandas as pd
import io

#read in the data to use for plotted points
vesseldf = pd.read_csv("C:/Users/vijaya/Desktop/AIS_2017_01_Zone10.csv")

lat = vesseldf['LAT'].values
lon = vesseldf['LON'].values

# determine range to print based on min, max lat and lon of the data
margin = 2 # buffer to add to the range
lat_min = min(lat) - margin
lat_max = max(lat) + margin
lon_min = min(lon) - margin
lon_max = max(lon) + margin

# create map using BASEMAP
m = Basemap(llcrnrlon=lon_min,
            llcrnrlat=lat_min,
            urcrnrlon=lon_max,
            urcrnrlat=lat_max,
            lat_0=(lat_max - lat_min)/2,
            lon_0=(lon_max-lon_min)/2,
            projection='merc',
            resolution = 'h',
            area_thresh=10000.,
            )

m.drawcoastlines()
m.drawcountries()
m.drawstates()
m.fillcontinents(color = 'white',lake_color='#46bcec')

# convert lat and lon to map projection coordinates
lons, lats = m(lon, lat)

# plot points as red dots
m.scatter(lons, lats, marker = 'o', color='r', zorder=5)
plt.show()